<div class="row jumbotron">
    <div class="col-md-8">
        <h1>Titulo</h1>
        <div class="text-justify">
            <h2>Subtitulo 1</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sint eius ducimus totam numquam amet,
                placeat earum soluta at autem suscipit quasi nobis, ullam necessitatibus sequi officiis explicabo quae
                voluptatum!.
                <Lorem></Lorem>
            </p>
        </div>
    </div>
     <div class="col-md-4 text-justify">
            <h2>Subtitulo 2</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nulla ea optio fugit at animi voluptas
            nostrum ratione, aut libero magni distinctio quisquam quasi iste id excepturi odit pariatur sed!.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas suscipit unde aliquid, debitis doloribus porro
            animi. Neque doloribus iure sapiente!
    </div>
</div>